<!DOCTYPE html>
<html lang="pt-BR">

<head th:replace="~{base :: head}"></head>

<body onload="onLoad()">
  <div th:replace="~{base :: logo}"></div>

  <div class="container" id="ofertas">
    <div th:replace="~{base :: titulo('Faça sua Oferta')}"></div>

    <div v-if="loading" class="d-flex justify-content-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    <div v-else class="card mb-3 mt-3" v-for="pedido in pedidos">

      <div class="card-header alert-dark">
        {{ pedido.nomeProduto }}
      </div>

      <div class="card-body row">

        <div class="conteudo col-12 mb-3 col-sm-8">

          <div> Produto </div>
          <div> <a v-bind:href="pedido.urlProduto"> {{pedido.nomeProduto}} </a> </div>

          <div>Descrição</div>
          <div>
            <textarea disabled class="form-control">
                {{pedido.descricao}}
              </textarea>
          </div>


          <div class="row mt-5">

            <div class="col-md-5 form-group">
              Valor: <input v-bind:class="{'is-invalid' : pedido.error.valor !== ''}" v-model="pedido.valorNegociado"
                class="form-control" />
              <div class="invalid-feedback">
                {{pedido.error.valor}}
              </div>
            </div>


            <div class="col-md-7 form-group">
              Data da entrega: <input v-bind:class="{'is-invalid' : pedido.error.dataEntrega !== ''}"
                v-model="pedido.dataEntrega" class="form-control" />
              <div class="invalid-feedback">
                {{pedido.error.dataEntrega}}
              </div>
            </div>

          </div>

          <div class="mt-2 form-group">
            <label for="comentario">Comentário</label>
            <textarea name="comentario" class="form-control" v-model="pedido.comentario"></textarea>
          </div>

          <button v-if="pedido.ofertaEnviada" disabled class="btn btn-success mt-2">Oferta Enviada</button>
          <button v-else v-on:click="enviarOferta(pedido)" class="btn btn-primary mt-2">Enviar Oferta</button>

        </div>


        <div class="imagem col-12 col-sm-4">
          <div>
            <img class="img-thumbnail" v-bind:src="pedido.urlImagem" />
          </div>
        </div>


      </div>

    </div>
  </div>
  <script>
    function onLoad() {
      var app = new Vue({
        el: '#ofertas',
        data: {
          pedidos: [],
          loading: true,
        },
        mounted() {
          axios
            .get('http://localhost:8080/api/pedidos/aguardando')
            .then(response => {
              response.data.forEach(pedido => {
                pedido.ofertaEnviada = false;
                pedido.error = {
                  valor: '',
                  dataEntrega: ''
                }
              })
              this.pedidos = response.data
            })
            .catch(err => console.log(err))
            .finally(() => this.loading = false);
        },
        methods: {
          enviarOferta: function (pedido) {
            pedido.error = {
              valor: '',
              dataEntrega: ''
            };
            
            axios
              .post('http://localhost:8080/api/ofertas', {
                pedidoId: pedido.id,
                valor: pedido.valorNegociado,
                dataEntrega: pedido.dataEntrega,
                comentario: pedido.comentario
              })
              .then(response => pedido.ofertaEnviada = true)
              .catch(err => {
                err.response.data.errors.forEach(error => {
                  pedido.error[error.field] = error.defaultMessage;
                })
                console.log(pedido);
              });
          }
        }
      });
      console.log(pedidos);
    }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</body>

</html>